.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background: rgb(176, 176, 189);
}

.form section {
    position: absolute;
    top: 20px;
    right: 20px;
}

.form .cancelar {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
}

.form form input {
    border: 0;
    background: rgb(245, 244, 244);
    margin-bottom: 10px;
    padding-left: 20px;
    width: 200px;
    height: 40px;
}

.form form button {
    border: 0;
    width: 200px;
    height: 30px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(106, 237, 106);
    transition: 0.4s;
}

.form form button:hover {
    cursor: pointer;
    background: rgb(50, 243, 50);
}